{% extends 'base.html'%}
{% load static %}
{% block content %}

<!-- Sub banner start -->
<div class="sub-banner">
    <div class="container breadcrumb-area">
        <div class="breadcrumb-areas">
            <h1>Blog Columns 2</h1>
            <ul class="breadcrumbs">
                <li><a href="index.html">Home</a></li>
                <li class="active">Blog Columns 2</li>
            </ul>
        </div>
    </div>
</div>
<!-- Sub Banner end -->

<!-- Blog body start -->
<div class="blog-body content-area">
    <div class="container">
        <div class="row">

            <div class="col-lg-8 col-md-12">
                <div class="main-title">
                    <h1 class="mb-10">Recent Post</h1>
                    <div class="title-border">
                        <div class="title-border-inner"></div>
                        <div class="title-border-inner"></div>
                        <div class="title-border-inner"></div>
                        <div class="title-border-inner"></div>
                        <div class="title-border-inner"></div>
                    </div>
                </div>
                <div class="row">
                    {% for post in posts %}
                    <div class="blog-1">
                        <div class="blog-image">
                            <img src="{{ post.featured_image.url }}" alt="blog" class="img-fluid w-100">
                            <div class="date-box">
                                <span>{{ post.d1}}</span>{{post.d2}}
                            </div>
                        </div>
                        <div class="detail">
                            <h4>
                                <a href="blog-details.html">{{post.title}}</a>
                            </h4>
                            <div class="post-meta-2 clearfix">
                                <span><a href="#"><i class="flaticon-user-1"></i></a> {{post.author}}</span>
                                <span><a href="#"><i class="flaticon-comment"></i></a> 17K</span>
                                <span><a href="#"><i class="flaticon-calendar"></i></a> 73k</span>
                            </div>
                            <p>{{ post.short_description | truncatewords:30}}</p>
                        </div>
                    </div>

                    {% endfor %}
                </div>

                <div class="main-title">
                    <h1 class="mb-10">Recent Featured Posts</h1>
                    <div class="title-border">
                        <div class="title-border-inner"></div>
                        <div class="title-border-inner"></div>
                        <div class="title-border-inner"></div>
                        <div class="title-border-inner"></div>
                        <div class="title-border-inner"></div>
                    </div>
                </div>
                <div class="row">
                    {% for post in featured_posts %}

                    <div class="col-lg-6 col-md-6">
                        <div class="blog-1">
                            <div class="blog-image">
                                <img src="{{ post.featured_image.url }}" alt="blog" class="img-fluid">
                                <div class="date-box">
                                    <span>{{ post.d1}}</span>{{post.d2}}
                                </div>
                                <div class="profile-user">
                                    <img src="{% static 'img/avatar/avatar-1.png'%}" alt="user">
                                </div>
                            </div>
                            <div class="detail">
                                <div class="post-meta clearfix">
                                    <ul>
                                        <li class="user-name">
                                            <strong><a href="#">{{post.author}}</a></strong>
                                        </li>
                                        <li><i class="flaticon-calendar"></i>{{post.created_at | timesince}} ago</li><br>
                                        <li><i class="flaticon-comment"></i>Comments</li>
                                    </ul>
                                </div>
                                <h4>
                                    <a href="blog-details.html">{{post.title}}</a>
                                </h4>
                                <p>{{ post.short_description | truncatewords:10}}</p>
                            </div>
                        </div>
                    </div>

                    {% endfor %}
                </div>



            </div>














            <div class="col-lg-4 col-md-12">
                <div class="sidebar-right">
                    <!-- Search box -->
                    <div class="widget search-box">
                        <h3 class="sidebar-title">Search</h3>
                        <div class="s-border"></div>
                        <form class="form-inline form-search" method="GET">
                            <div class="form-group">
                                <label class="sr-only" for="textsearch2">Looking for something</label>
                                <input type="text" class="form-control" id="textsearch2" placeholder="Search">
                            </div>
                            <button type="submit" class="btn"><i class="fa fa-search"></i></button>
                        </form>
                    </div>
                    <!-- Recent posts start -->
                    <div class="widget recent-posts">
                        <h3 class="sidebar-title">Recent Posts</h3>
                        <div class="d-flex mb-4 recent-posts-box">
                            <a href="car-details.html">
                                <img class="flex-shrink-0 me-3" src="{% static 'img/car/small-car-3.png'%}" alt="small-car">
                            </a>
                            <div class="detail align-self-center">
                                <h5>
                                    <a href="car-details.html">Bentley Continental GT</a>
                                </h5>
                                <div class="listing-post-meta">
                                    $345,00 | <a href="#"><i class="fa fa-calendar"></i> Jan 12, 2021</a>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex mb-4 recent-posts-box">
                            <a href="car-details.html">
                                <img class="flex-shrink-0 me-3" src="{% static 'img/car/small-car-1.png'%}" alt="small-car">
                            </a>
                            <div class="detail align-self-center">
                                <h5>
                                    <a href="car-details.html">Fiat Punto Red</a>
                                </h5>
                                <div class="listing-post-meta">
                                    $345,00 | <a href="#"><i class="fa fa-calendar"></i> Aug 24, 2021</a>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex recent-posts-box">
                            <a href="car-details.html">
                                <img class="flex-shrink-0 me-3" src="{% static 'img/car/small-car-2.png'%}" alt="small-car">
                            </a>
                            <div class="detail align-self-center">
                                <h5>
                                    <a href="car-details.html">Nissan Micra Gen5</a>
                                </h5>
                                <div class="listing-post-meta">
                                    $345,00 | <a href="#"><i class="fa fa-calendar"></i> Sep 24, 2021</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Posts By Category Start -->
                    <div class="posts-by-category widget">
                        <h3 class="sidebar-title">Category</h3>
                        <div class="s-border"></div>
                        <ul class="list-unstyled list-cat">
                            {% for cat in categories %}
                            <li><a href="#">{{cat.category_name}} <span></span></a></li>
                            {% endfor %}
                        </ul>
                    </div>
                    <!-- Tags box Start -->
                    <div class="widget tags-box widget-3">
                        <h3 class="sidebar-title">Tags</h3>
                        <div class="s-border"></div>
                        <ul class="tags">
                            <li><a href="#">Car Dealer</a></li>
                            <li><a href="#">Auto</a></li>
                            <li><a href="#">Car Website</a></li>
                            <li><a href="#">Automobile</a></li>
                            <li><a href="#">Theme</a></li>
                            <li><a href="#">Events</a></li>
                            <li><a href="#">Car Template</a></li>
                            <li><a href="#">Buy Car</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Blog body end -->

{% endblock %}
